<section id="banner">
  <div id="splashSearch">
    <h1>Jobbies</h1>
    <input type="text" placeholder="Search for your next job">
  </div>
</section>
<div id="splashWrapper">
  <section id="splashContent">
    <div id="companiesSplash">
      <h2>Companies</h2>
    </div>
    <div id="jobsSplash">
      <h2>Jobs</h2>
    </div>
  </section>
</div>