// Place all the styles related to the Task controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

#newTaskWrapper, #taskShowWrapper {
  @extend .container;
  background-color: #B8C3DE;
  min-height: 100%;
  padding-left: 40px;
  padding-right: 40px;
}

#new_task {
  @extend .form-horizontal;
  label {
    @extend .col-md-2;
    text-align: right;
  }
  input, #task_contact_id {
    @extend .col-md-8;
  }
  input[type="submit"]  {
    @extend .col-md-offset-2;
    @extend .btn;
    @extend .btn-success;
  }
}